.main {
    max-width: 50%;
    min-height: 80vh;
    margin: 2% auto;
    border: 2px solid;
    display: flex;
}

.nav {
    flex-basis: 15%;
    background-color: green;
    padding-bottom: 20px;
}

.content {
    flex-basis: 85%;
    background-color: antiquewhite;
    padding-bottom: 20px;
}

h1, h2, h3 {
    text-align: center;
    margin: 10px;
}

.nav ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.nav li {
    list-style: none;

}

.nav li a {
    text-align: left;
    font-weight: bold;
    background-color: green;
    padding: 10px 10px;
    display: block;
}

.nav li a.active {
    border-right: 3px solid red;
    background-color: rgb(176, 225, 170);
}

.nav li a:hover {
    background-color: aliceblue;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

img {
    display: block;
    max-width: 60%;
    height: auto;
    margin: 0 auto;
}

p {
    margin: 5px 15px;
    text-align-last: center;
}

ul, ol {
    margin: 5px 15px;
}

.odin {
    display: block;
    transform: translateY(25vh);
}