.main {
    max-width: 50%;
    height: 80vh;
    margin: 2% auto;
    border: 2px solid;
    display: flex;
}

.nav {
    flex-basis: 15%;
    background-color: green;
}

.content {
    flex-basis: 85%;
}

h1 {
    text-align: center;
}

.nav ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.nav li {
    list-style: none;
    background-color: green;
    padding: 10px 10px;
}

.nav li a {
    text-align: left;
    font-weight: bold;
}

.nav li.active {
    border-right: 3px solid red;
    background-color: rgb(176, 225, 170);
}

.nav li:hover {
    background-color: aliceblue;
}



a:link, a:visited {
    color: black;
    text-decoration: none;
}